<div class="container">
  <div class="signupBox">
    <div class="signup p-2">
      <h4>Sign up</h4>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            [(ngModel)]="email"
            name="username"
            class="form-control"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group mt-2">
          <label for="exampleInputPassword1">Password</label>
          <input
            [(ngModel)]="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
        </div>

        <button (click)="register()" type="submit" class="btn btn-primary mt-2">
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>
