.signInBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.signin {
  background-color: white;
  height: 280px;
  width: 500px;
  border-radius: 10px;
}

.roww {
  display: flex;
}

input {
  width: 50%;
  margin: 0 auto;
}
