<div class="background">
  <div class="navbar">
    <div class="logo">
      <a [routerLink]="['']">
        <img
          src="https://cdn.pixabay.com/photo/2019/10/14/07/53/travel-4548127_960_720.png"
          class="imglogo"
        />
      </a>
      <h4 class="site">J'mepromèneavecmesvalises.com</h4>
    </div>

    <h5 *ngIf="service.tokenstored">Welcome {{ service.usernameLogged }}!</h5>

    <div class="boxLogin">
      <a *ngIf="!service.tokenstored" [routerLink]="['/signin']">
        <button
          type="button"
          class="btn btn-sm btn-primary boxButtons signup mb-1 mx-3"
        >
          Login
        </button>
      </a>
      <button
        [routerLink]="['/signup']"
        *ngIf="!service.tokenstored"
        type="button"
        class="btn btn-sm btn-primary boxButtons signup mb-1 me-4"
      >
        Sign up
      </button>
      <a *ngIf="service.tokenstored" [routerLink]="['/myVoyages']">
        <button
          type="button"
          class="btn btn-sm btn-success boxButtons btnvoyage signup mb-1"
        >
          <i class="fa-solid fa-suitcase"></i>
          Mes voyages
        </button>
      </a>
      <a *ngIf="service.tokenstored" [routerLink]="['']">
        <button
          (click)="Logout()"
          type="button"
          class="btn btn-sm btn-primary boxButtons signup mb-1 mx-3"
        >
          Logout
        </button>
      </a>
    </div>
  </div>
</div>
