<div class="background">
  <div class="navbar">
    <div class="logo">
      <a>
        <img
          src="https://cdn.pixabay.com/photo/2019/10/14/07/53/travel-4548127_960_720.png"
          class="imglogo"
        />
      </a>
      <h4 class="site">J'mepromèneavecmesvalises.com</h4>
    </div>

    <form class="fullBox">
      <div class="boxLogin">
        <button
          type="button"
          class="btn btn-sm btn-primary boxButtons signup mb-1 mx-3"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
